<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WL Customer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>we_link</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
		<key>CFBundleURLTypes</key>
    	<array>
    		<dict>
    			<key>CFBundleTypeRole</key>
    			<string>Editor</string>
    			<key>CFBundleURLSchemes</key>
    			<array>
	                <string>com.googleusercontent.apps.963383330656-n0aj3j1at0iu5431qv41t892bev8plfo</string>
    			</array>
    		</dict>
    				<dict>
            			<key>CFBundleURLSchemes</key>
            			<array>
            				<string>fb545744924143435</string>
            			</array>
            		</dict>
    	</array>
    		<key>FacebookAppID</key>
        	<string>545744924143435</string>
        	<key>FacebookDisplayName</key>
        	<string>WL Customer</string>
        	<key>FacebookClientToken</key>
            <string>cbfe2d4c5bf59c76773d0ca796250c6e</string>
    		<key>LSApplicationQueriesSchemes</key>
        	<array>
        		<string>fbapi</string>
        		<string>fbapi20130214</string>
        		<string>fbapi20130410</string>
        		<string>fbapi20130702</string>
        		<string>fbapi20131010</string>
        		<string>fbapi20131219</string>
        		<string>fbapi20140410</string>
        		<string>fbapi20140116</string>
        		<string>fbapi20150313</string>
        		<string>fbapi20150629</string>
        		<string>fbapi20160328</string>
        		<string>fbapi</string>
        		<string>fb-messenger-share-api</string>
        		<string>fbauth2</string>
        		<string>fbshareextension</string>
        	</array>
	<key>CFBundleVersion</key>
	<string>153</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงกล้องของท่านเพื่อใช้งานฟังก์ชันการถ่ายรูปเพื่อยืนยันตัวตนเท่านั้น</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงตำแหน่งของท่านเพื่อใช้งานฟังก์ชั่นค้นหาที่ใกล้ตัวของท่าน</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงตำแหน่งของท่านเพื่อใช้งานฟังก์ชั่นค้นหาที่ใกล้ตัวของท่าน</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงตำแหน่งของท่านเพื่อใช้งานฟังก์ชั่นค้นหาที่ใกล้ตัวของท่าน</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>your usage description here</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงคลังภาพของท่านเพื่อใช้งานฟังก์ชันการบันทึกรูปภาพเท่านั้น</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>เราจำเป็นที่จะต้องขอสิทธิ์การเข้าถึงคลังภาพของท่านเพื่อใช้งานฟังก์ชันการเปลี่ยนรูปโปรไฟล์เท่านั้น</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
